# Copy this file to `.environ` and replace values below

# CatalogIt Config
CIT_ACCOUNT_ID=YOUR_ACCOUNT_ID

# Discourse Config
# Note: API user requires full global permissions
DISCOURSE_API_URL="https://YOUR_DISCOURSE_SITE_DOMAIN_NAME"
DISCOURSE_API_USERNAME="YOUR_DISCOURSE_API_USER"
DISCOURSE_API_KEY="YOUR_DISCOURSE_API_KEY"
DISCOURSE_CATEGORY="Our CatalogIt Collection"
DISCOURSE_TOPIC_FOOTER="<span>Do you have any additional information or resources about this item? Please join the discussion about this item here.</span>"

### Integration Config
INT_BASE_URL="YOUR_INTEGRATION_URL"
INT_BIND_HOST="0.0.0.0"
INT_BIND_PORT=8080
